@model Experience

@{
    ViewData["Title"] = "GetExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Deneyim Güncelleme Sayfası</h4>

<form method="post">
    @Html.Label("Deneyim Id")
    @Html.TextBoxFor(x=>x.Id,new{@class="form-control"})
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x=>x.Title,new{@class="form-control"})
    <br />
    @Html.Label("Alt Başlık")
    @Html.TextBoxFor(x=>x.SubTtitle,new{@class="form-control"})
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x=>x.Date,new{@class="form-control"})
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x=>x.Date,new{@class="form-control"})
    <br />

    <button class="btn btn-info">Güncelle</button>

</form>
